<launch>

 <arg name="enable_record" default="false"/>

 <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find move_turtle)/world/myplayground"/>
 </include>


<node   pkg="move_turtle" 
	type="move_turtle_node" 
	name="moveTurtle" 
/>

<node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -O session.bag -x /camera/(.*) "
        if="$(arg enable_record)"
/>

</launch>
